/*@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome-webfont.ttf') format('ttf'),
	 url('../fonts/fontawesome-webfont.eot') format('eot'),
	 url('../fonts/fontawesome-webfont.woff') format('woff'),
	 url('../fonts/fontawesome-webfont.woff2') format('woff2'),
	 url('../fonts/fontAwesome-webfont.otf') format('otf') ;
	 font-weight: normal;
  	 font-style: normal;
  	 %
}*/

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

/*---------------Header-------------------*/

header #info-sup {
	color: #cecece;
	background: #000;
	width:100%;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul li  {
	list-style: none;
	display: inline-block;
	margin-left: 12px;
}

i {
	margin:0;
}

.linev {
	width: 2px;
	height: 16px;
	background: #cecece;
}

header #info-inf {
	color: #fff;
	background: #843fd3;
	width:100%;
	font-size: 12px;
}

header h1 {
	margin:0px;	
}

.logo {
	float: right;
	width:10%;
}

.menu {
	float:left;
	width:90%;
}







